@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>all Roles</h2>

@if (Model.Any())
{
    
    <a class="btn btn-primary mb-3" style="width: auto" asp-action="CreateRole"
       asp-controller="Administration">Add new role</a>
    
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>      
            </div>
            
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    
}