# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.WebApplication3.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Michiel\RiderProjects\WebApplication3\.idea\.idea.WebApplication3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
